/* Header */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: relative;
    height: 50px;
    background: #5118ac;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}
nav span {
    position: absolute;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #fd0000, #ff0000);
    border-radius: 8px;
    transition: .5s ease;
}
nav a:nth-child(1):hover~span {
  left:573px;
}
nav a:nth-child(2):hover~span {
  left: 666px;
}
nav a:nth-child(3):hover~span {
  left: 762px;
  width: 95px;
}
nav a:nth-child(4):hover~span {
  left: 858px;
  width: 95px;
}
nav a:nth-child(5):hover~span {
  left: 955px;
  width: 95px;
}
nav a:nth-child(6):hover~span {
  left: 1053px;
  width: 95px;
}
nav a:nth-child(7):hover~span {
  left: 1151px;
  width: 195px;
}

.wallpaper {
  position: fixed;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}



/* Style */

.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.fix {
  position: fixed;
}
.i {
  display: inline;
}
.ib {
  display: inline-block;
}
.b {
  display: block;
}
.n {
  display: none;
}
.f {
  display: flex;
}
.if {
  display: inline-flex;
}
.g {
  display: grid;
}
.ig {
  display: inline-grid;
}
.vm {
  vertical-align: middle;
}

/* ==================================== */

:root {
  --body-bg: #24282f;
}

/* ==================================== */

body {
  background: var(--body-bg);
  font-family: 'Alegreya Sans';
}

.wrapper {
  padding: 15px;
}

h2 {
  position: relative;
  vertical-align: middle;
  padding: 10px;
  padding-left: 25px;
  color: #ccc;
  margin: 0;
}

h2 strong {
  vertical-align: middle;
  position: relative;
  z-index: 2;
  background: var(--body-bg);
  padding: 4px 8px;
}

h2 span {
  vertical-align: middle;
  font-size: .7em;
  color: #aaa;
  margin-left: 10px;
}

h2:after {
  position: absolute;
  content: '';
  z-index: 1;
  bottom: 50%;
  margin-bottom: -2px;
  height: 2px;
  left: 0;
  right: 0;
  background: lighten(var(--body-bg), 10%);
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  position: relative;
  margin: 20px;
  width: 180px;
  height: 270px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .8);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: .3s;
}

.card img {
  width: 100%;
  min-height: 100%;
}

.card figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: .3s;
}

.card:after {
  position: absolute;
  content: '';
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: .1;
  transform: rotate(45deg);
  background: linear-gradient(to top, transparent, #fff 15%, rgba(255, 255, 255, .5));
  transition: .3s;
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: 0 8px 16px 3px rgba(0, 0, 0, .6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}

.card:hover figcaption,
.card:focus figcaption,
.card:active figcaption {
  transform: none;
}

.card:hover:after,
.card:focus:after,
.card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: .15;
}

.news {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.news .article {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 235px;
  margin: 20px;
}

.news .article img {
  width: 100%;
  min-height: 100%;
  transition: .2s;
}

.news .article figcaption {
  position: absolute;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(51, 51, 51, .3);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
  background: rgba(6, 18, 53, .6);
  opacity: 0;
  transform: scale(1.15);
  transition: .2s;
}

.news .article figcaption h3 {
  color: #3792e3;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}

.news .article:hover img,
.news .article:focus img,
.news .article:active img {
  filter: blur(3px);
  transform: scale(.97);
}

.news .article:hover figcaption,
.news .article:focus figcaption,
.news .article:active figcaption {
  opacity: 1;
  transform: none;
}
