/* Header */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: relative;
    height: 50px;
    background: #434644;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}
nav span {
    position: absolute;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #000000, #000000);
    border-radius: 8px;
    transition: .5s ease;
}
nav a:nth-child(1):hover~span {
  left:573px;
}
nav a:nth-child(2):hover~span {
  left: 666px;
}
nav a:nth-child(3):hover~span {
  left: 762px;
  width: 95px;
}
nav a:nth-child(4):hover~span {
  left: 858px;
  width: 95px;
}
nav a:nth-child(5):hover~span {
  left: 955px;
  width: 95px;
}
nav a:nth-child(6):hover~span {
  left: 1053px;
  width: 95px;
}
nav a:nth-child(7):hover~span {
  left: 1151px;
  width: 195px;
}


.wallpaper {
  position: fixed;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}




/* Style */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");


/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h2,
p {
  margin: 0;
}

/* GLOBAL STYLES */
body {
  display: grid;
  height: 85vh;
  padding-left: 50;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}

p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */
.content {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.card1 {
  display: grid;
  place-items: center;
  width: 100vw;
  max-width: 22rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  --brand-color: hsl(239, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

.card1 > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background1 {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content1 {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container1 {
  --flow-space: 1.25rem;
}

.card__title1 {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title1::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button1 {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button1:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content1 {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title1::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background1 {
    transition: transform 500ms ease-in;
  }

  .card__content--container1 > :not(.card__title1),
  .card__button1 {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card1:hover,
  .card1:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card1:hover .card__content1,
  .card1:focus-within .card__content1 {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card1:focus-within .card__content1 {
    transition-duration: 0ms;
  }

  .card1:hover .card__background1,
  .card1:focus-within .card__background1 {
    transform: scale(1.3);
  }

  .card1:hover .card__content--container1 > :not(.card__title1),
  .card1:hover .card__button1,
  .card1:focus-within .card__content--container1 > :not(.card__title1),
  .card1:focus-within .card__button1 {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card1:hover .card__title1::after,
  .card1:focus-within .card__title1::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

.card2 {
  display: grid;
  place-items: center;
  width: 100vw;
  max-width: 22rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  --brand-color: hsl(199, 70%, 38%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

.card2 > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background2 {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content2 {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container2 {
  --flow-space: 1.25rem;
}

.card__title2 {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title2::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button2 {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button2:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content2 {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title2::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background2 {
    transition: transform 500ms ease-in;
  }

  .card__content--container2 > :not(.card__title2),
  .card__button2 {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card2:hover,
  .card2:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card2:hover .card__content2,
  .card2:focus-within .card__content2 {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card2:focus-within .card__content2 {
    transition-duration: 0ms;
  }

  .card2:hover .card__background2,
  .card2:focus-within .card__background2 {
    transform: scale(1.3);
  }

  .card2:hover .card__content--container2 > :not(.card__title2),
  .card2:hover .card__button2,
  .card2:focus-within .card__content--container2 > :not(.card__title2),
  .card2:focus-within .card__button2 {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card2:hover .card__title2::after,
  .card2:focus-within .card__title2::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

.card3 {
  display: grid;
  place-items: center;
  width: 100vw;
  max-width: 22rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  --brand-color: hsl(93, 42%, 30%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

.card3 > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background3 {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content3 {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container3 {
  --flow-space: 1.25rem;
}

.card__title3 {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title3::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button3 {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button3:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content3 {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title3::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background3 {
    transition: transform 500ms ease-in;
  }

  .card__content--container3 > :not(.card__title3),
  .card__button3 {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card3:hover,
  .card3:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card3:hover .card__content3,
  .card3:focus-within .card__content3 {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card3:focus-within .card__content3 {
    transition-duration: 0ms;
  }

  .card3:hover .card__background3,
  .card3:focus-within .card__background3 {
    transform: scale(1.3);
  }

  .card3:hover .card__content--container3 > :not(.card__title3),
  .card3:hover .card__button3,
  .card3:focus-within .card__content--container3 > :not(.card__title3),
  .card3:focus-within .card__button3 {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card3:hover .card__title3::after,
  .card3:focus-within .card__title3::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

.card4 {
  display: grid;
  place-items: center;
  width: 100vw;
  max-width: 22rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  --brand-color: hsl(240, 4%, 20%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

.card4 > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background4 {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content4 {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container4 {
  --flow-space: 1.25rem;
}

.card__title4 {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title4::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button4 {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button4:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content4 {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title4::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background4 {
    transition: transform 500ms ease-in;
  }

  .card__content--container4 > :not(.card__title4),
  .card__button4 {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card4:hover,
  .card4:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card4:hover .card__content4,
  .card4:focus-within .card__content4 {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card4:focus-within .card__content4 {
    transition-duration: 0ms;
  }

  .card4:hover .card__background4,
  .card4:focus-within .card__background4 {
    transform: scale(1.3);
  }

  .card4:hover .card__content--container4 > :not(.card__title4),
  .card4:hover .card__button4,
  .card4:focus-within .card__content--container4 > :not(.card__title4),
  .card4:focus-within .card__button4 {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card4:hover .card__title4::after,
  .card4:focus-within .card__title4::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}


